<div class="modal-change chng_pwd" ng-controller="changepassword">
   <div class="alert_pop_wrap">
      <div class="model_wrapper getHeight">
         <div class="model_area">
            <div class="model_head" ng-if="showSucessMessage">
               <div class="model_head_icon"><img src="images/icons/notification-success-color.png" alt="Success" /></div>
               <div class="model_head_text green">Success! Password has been changed.</div>
            </div>
            
            <div class="popup-heading">
                <div  ng-show="showFalureMessage" class="password-error-mes"> 
                  <span class="error-mes-icon"></span>       
               <p><font size="3" color="red">Something went wrong! Please check all fields and try again.</font></p>
               </div>
               <div class="popup-icon">                     
                  <span class="modal-icon">
                  <img src="images/icons/forgot-password.png" alt="forgot password" />
                  </span>                   
               </div>
              
               <p>Change Password</p>
               
            </div>
            <form name="changePasswordForm" novalidate>
            <div class="model_content_text">
               <div class="model_forms">
                  <div class="left">
                     <div class="chpwd_form">
                        <label>Current Password:</label>
                        <div class="chpwd_text">
                           <input type="password" name="currentPwd" class="form-control" placeholder="Current Password"  ng-model="currentPwd" ng-change="validatCurrentPassword(currentPwd)" required/>
                           <div ng-show="changePasswordForm.currentPwd.$valid" class="right_tick"></div>
                           <div ng-show="changePasswordForm.currentPwd.$invalid && !changePasswordForm.currentPwd.$pristine" class="cross_tick"></div>
                           <!--<span style="color:red" ng-show="currentPasswordRequired">
                           Current Password is Required.</span>-->
                        </div>
                        <label>New Password:</label>
                        <div class="chpwd_text">
                           <input type="password"  ng-pattern="/^[a-zA-Z0-9]+$/" name="newPwd"  class="form-control" placeholder="New Password" ng-model="newPwd" ng-change="vlidatePassword(newPwd)"   ng-minlength="8" ng-maxlength="15" required/>
                           <span style="color:red" ng-show="changePasswordForm.newPwd.$error.minlength">
                           Password should contain 8-15 characters </span>
                           <span style="color:red" ng-show="changePasswordForm.newPwd.$error.maxlength">
                           Password should contain 8-15 characters</span>
                           <span style="color:red" ng-show="changePasswordForm.newPwd.$error.pattern">
                           Special characters are not allowed </span>
                           <span style="color:red" ng-show="changePasswordForm.newPwd.atlestOneNumber">
                           At least one number is required </span>
                           <span style="color:red" ng-show="changePasswordForm.newPwd.atlestFiveAplhabet">
                           Minimum five alphabets are required  </span>
                           <span style="color:red" ng-show="changePasswordForm.newPwd.maximumtwochar">
                           Maximum two characters can be repeated  </span>
                           <div ng-show="changePasswordForm.newPwd.$invalid && !changePasswordForm.newPwd.$pristine" class="cross_tick"></div>
                           <div ng-show="changePasswordForm.newPwd.atlestOneNumber" class="cross_tick"></div>
                           <div ng-show="changePasswordForm.newPwd.atlestFiveAplhabet" class="cross_tick"></div>
                           <div ng-show="changePasswordForm.newPwd.maximumtwochar" class="cross_tick"></div>
                           <div ng-show="changePasswordForm.newPwd.$valid" class="right_tick"></div>
                        </div>
                        <label>Repeat New Password:</label>
                        <div class="chpwd_text">
                           <input type="password"   id="reenterpwd" ng-disabled="changePasswordForm.newPwd.$invalid" name="reNewPwd"  ng-change="RePasswordvlaidation()" class="form-control" placeholder="Repeat New Password" 
                              ng-model="reNewPwd" />
                           <span style="color:red" ng-show="changePasswordForm.reNewPwd.notmach">
                           Passwords do not match.</span>
                           <div ng-show="changePasswordForm.reNewPwd.crosstick" class="cross_tick"></div>
                           <div ng-show="changePasswordForm.reNewPwd.greentick" class="right_tick"></div>
                        </div>
                     </div>
                  </div>
                  <div class="left">
                     <div class="chpwd_ins">
                        <h4>Password Guidelines:</h4><br>
                        <p>Maximum Repeated Characters: 2</p>
                        <p>Minimum Alphabetic Characters: 5</p>
                        <p>Minimum Numeric Characters: 1</p>
                        <h5>Characters not allowed:</h5>
                        <p>"&pound;%*()_-{}:~&lt;$&gt;/?|[\]</p>
                        <h5>Allowed Characters:</h5>
                        <p>ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789</p>
                     </div>
                  </div>
               </div>
            </div>
            
            <div class="model_button m-button">
               <div class="model_button_right" ng-click="confirm()">
                  <div class="btn-group action-button icon-btn">
                     <div class="wrap-btn">
                        <!--  btn-green-->
                        <button class="button btn-action r-right radius pull-right btn-{{btnEnable}}" type="button">
                           <div class="v-flex">
                              <span class="btn-txt">Confirm</span>  
                              <div class="circle-flex">
                                 <span class="s-btn-icon"><i class="fa fa-chevron-right"></i></span>  
                              </div>
                           </div>
                        </button>
                     </div>
                  </div>
               </div>
               <div class="model_button_left">
                  <div class="btn-group action-button icon-btn">
                     <div class="wrap-btn" ng-click="cancelPassword()">             
                        <button type="button" class="button btn-action radius"> 
                        <span class="v-flex">
                        <span class="circle-flex">
                        <span class="s-btn-icon"><i class="fa fa-chevron-left"></i></span>  
                        </span>
                        <span class="btn-txt">Cancel</span>
                        </span>                     
                        </button> 
                     </div>
                  </div>
               </div>
            </div>
            </form>
         </div>
      </div>
   </div>
</div>