    <div class="employee_wrap">
        <div class="layout">
            <!-- employee heading start -->
            <div class="global_Load_head dashboard_head">
                <div class="text_wrap">
                    <div class="icon"><img alt="icon" src=
                    "images/icons/footer-nav-employment-on.png"></div>
                    <div class="text_head">
                        <h1>Welcome</h1>
                    </div>
                    <div class="clr"></div>
                </div>
                <div class="clr"></div>
            </div>
            <div class="employee_dashboard">
                <div class="welcome-column">
                    <div class="col-box-left">
                        <div class="v-flex">
                            <div class="center">
                                <div class="circle-icon">
                                    <div class="v-m">
                                        <span class="Aligner"><span class=
                                        "security-icon1"></span></span>
                                    </div>
                                </div>
                                <p>Security</p>
                            </div>
                        </div>
                    </div>
                    <div class="user-column">
                        <ul>
                            <li>
                                <div class="user-dashboard">
                                    <div class="center-icon">
                                        <span class="item-circle">2</span>
                                        <div class="circle-icon">
                                            <span class=
                                            "d-icon d-icon1"></span>
                                        </div>
                                    </div>
                                    <h3>Incident Reports</h3>
                                    <div class="btn-group sl-icons icon-btn">
                                        <div class="wrap-btn">
                                            <button class=
                                            "button btn-orange btn-block radius"
                                            type="button"><span class=
                                            "v-flex"><span class="btn-txt">Add
                                            New</span> <span class=
                                            "circle-flex"><span class=
                                            "s-btn-icon"><img alt="" src=
                                            "images/icons/general-add.png"></span></span></span></button>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="user-dashboard">
                                    <div class="center-icon">
                                        <span class="item-circle">3</span>
                                        <div class="circle-icon">
                                            <span class=
                                            "d-icon d-icon2"></span>
                                        </div>
                                    </div>
                                    <h3>Offenders &amp; OCG's</h3>
                                    <div class="btn-group sl-icons icon-btn">
                                        <div class="wrap-btn">
                                            <button class=
                                            "button btn-orange btn-block radius"
                                            type="button"><span class=
                                            "v-flex"><span class="btn-txt">Add
                                            New</span> <span class=
                                            "circle-flex"><span class=
                                            "s-btn-icon"><img alt="" src=
                                            "images/icons/general-add.png"></span></span></span></button>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="user-dashboard">
                                    <div class="center-icon">
                                        <span class="item-circle">1</span>
                                        <div class="circle-icon">
                                            <span class=
                                            "d-icon d-icon3"></span>
                                        </div>
                                    </div>
                                    <h3>Vehicles</h3>
                                    <div class="btn-group sl-icons icon-btn">
                                        <div class="wrap-btn">
                                            <button class=
                                            "button btn-orange btn-block radius"
                                            type="button"><span class=
                                            "v-flex"><span class="btn-txt">Add
                                            New</span> <span class=
                                            "circle-flex"><span class=
                                            "s-btn-icon"><img alt="" src=
                                            "images/icons/general-add.png"></span></span></span></button>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="user-dashboard">
                                    <div class="center-icon">
                                        <span class="item-circle">2</span>
                                        <div class="circle-icon">
                                            <span class=
                                            "d-icon d-icon4"></span>
                                        </div>
                                    </div>
                                    <h3>Victims &amp; Witnesses</h3>
                                    <div class="btn-group sl-icons icon-btn">
                                        <div class="wrap-btn">
                                            <button class=
                                            "button btn-orange btn-block radius"
                                            type="button"><span class=
                                            "v-flex"><span class="btn-txt">Add
                                            New</span> <span class=
                                            "circle-flex"><span class=
                                            "s-btn-icon"><img alt="" src=
                                            "images/icons/general-add.png"></span></span></span></button>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div><!-- employee section security ends -->
            <!-- employee section comms start -->
            
            <!-- <div class="employee_dashboard second_board">
                <div class="welcome-column">
                    <div class="col-box-left">
                        <div class="v-flex">
                            <div class="center">
                                <div class="center-icon">
                                    <div class="circle-icon">
                                        <div class="v-m">
                                            <span class="Aligner"><span class=
                                            "task-icon"></span></span>
                                        </div>
                                    </div>
                                </div>
                                <p>Comms &amp; Tasks</p>
                            </div>
                        </div>
                    </div>
                    <div class="user-column">
                        <ul>
                            <li>
                                <div class="user-dashboard">
                                    <div class="center-icon">
                                        <span class="item-circle">5</span>
                                        <div class="circle-icon">
                                            <span class=
                                            "d-icon d-icon5"></span>
                                        </div>
                                    </div>
                                    <h3>Inbox</h3>
                                    <div class="btn-group sl-icons icon-btn">
                                        <div class="wrap-btn">
                                            <button class=
                                            "button btn-orange btn-block radius"
                                            type="button"><span class=
                                            "v-flex"><span class=
                                            "btn-txt">View</span> <span class=
                                            "circle-flex"><span class=
                                            "s-btn-icon"><i class=
                                            "fa fa-eye"></i></span></span></span></button>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="user-dashboard">
                                    <div class="center-icon">
                                        <span class="item-circle">2</span>
                                        <div class="circle-icon">
                                            <span class=
                                            "d-icon d-icon6"></span>
                                        </div>
                                    </div>
                                    <h3>Alerts &amp; Notifications</h3>
                                    <div class="btn-group sl-icons icon-btn">
                                        <div class="wrap-btn">
                                            <button class=
                                            "button btn-orange btn-block radius"
                                            type="button"><span class=
                                            "v-flex"><span class=
                                            "btn-txt">View</span> <span class=
                                            "circle-flex"><span class=
                                            "s-btn-icon"><i class=
                                            "fa fa-eye"></i></span></span></span></button>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="user-dashboard">
                                    <div class="center-icon">
                                        <span class="item-circle">8</span>
                                        <div class="circle-icon">
                                            <span class=
                                            "d-icon d-icon7"></span>
                                        </div>
                                    </div>
                                    <h3>Task &amp; Checklist</h3>
                                    <div class="btn-group sl-icons icon-btn">
                                        <div class="wrap-btn">
                                            <button class=
                                            "button btn-orange btn-block radius"
                                            type="button"><span class=
                                            "v-flex"><span class=
                                            "btn-txt">View</span> <span class=
                                            "circle-flex"><span class=
                                            "s-btn-icon"><i class=
                                            "fa fa-eye"></i></span></span></span></button>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div> -->

            <!-- employee section button end -->
            <!-- employee section comms start -->
            
            <!-- <div class="employee_dashboard second_board">
                <div class="welcome-column">
                    <div class="col-box-left">
                        <div class="v-flex">
                            <div class="center">
                                <div class="center-icon">
                                    <div class="circle-icon">
                                        <div class="v-m">
                                            <span class="Aligner"><span class=
                                            "employment-icon1"></span></span>
                                        </div>
                                    </div>
                                </div>
                                <p>Employment</p>
                            </div>
                        </div>
                    </div>
                    <div class="user-column">
                        <ul>
                            <li>
                                <div class="user-dashboard">
                                    <div class="center-icon">
                                        <span class="item-circle">2</span>
                                        <div class="circle-icon">
                                            <span class=
                                            "d-icon d-icon2"></span>
                                        </div>
                                    </div>
                                    <h3>My Profile</h3>
                                    <div class="btn-group sl-icons icon-btn">
                                        <div class="wrap-btn">
                                            <button class=
                                            "button btn-orange btn-block radius"
                                            type="button"><span class=
                                            "v-flex"><span class=
                                            "btn-txt">View</span> <span class=
                                            "circle-flex"><span class=
                                            "s-btn-icon"><i class=
                                            "fa fa-eye"></i></span></span></span></button>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="user-dashboard">
                                    <div class="center-icon">
                                        <span class="item-circle">4</span>
                                        <div class="circle-icon">
                                            <span class=
                                            "d-icon d-icon9"></span>
                                        </div>
                                    </div>
                                    <h3>Staff Directory</h3>
                                    <div class="btn-group sl-icons icon-btn">
                                        <div class="wrap-btn">
                                            <button class=
                                            "button btn-orange btn-block radius"
                                            type="button"><span class=
                                            "v-flex"><span class=
                                            "btn-txt">View</span> <span class=
                                            "circle-flex"><span class=
                                            "s-btn-icon"><i class=
                                            "fa fa-eye"></i></span></span></span></button>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div> -->

            <!-- employee section button end -->
            <!-- employee section comms start -->
            
            <!-- <div class="employee_dashboard second_board">
                <div class="welcome-column">
                    <div class="col-box-left">
                        <div class="v-flex">
                            <div class="center">
                                <div class="center-icon">
                                    <div class="circle-icon">
                                        <div class="v-m">
                                            <span class="Aligner"><span class=
                                            "resource-icon1"></span></span>
                                        </div>
                                    </div>
                                </div>
                                <p>Resources</p>
                            </div>
                        </div>
                    </div>
                    <div class="user-column">
                        <ul>
                            <li>
                                <div class="user-dashboard">
                                    <div class="center-icon">
                                        <span class="item-circle">5</span>
                                        <div class="circle-icon">
                                            <span class=
                                            "d-icon d-icon10"></span>
                                        </div>
                                    </div>
                                    <h3>Dcouments</h3>
                                    <div class="btn-group sl-icons icon-btn">
                                        <div class="wrap-btn">
                                            <button class=
                                            "button btn-orange btn-block radius"
                                            type="button"><span class=
                                            "v-flex"><span class=
                                            "btn-txt">View</span> <span class=
                                            "circle-flex"><span class=
                                            "s-btn-icon"><i class=
                                            "fa fa-eye"></i></span></span></span></button>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="user-dashboard">
                                    <div class="center-icon">
                                        <span class="item-circle">2</span>
                                        <div class="circle-icon">
                                            <span class=
                                            "d-icon d-icon19"></span>
                                        </div>
                                    </div>
                                    <h3>Policies</h3>
                                    <div class="btn-group sl-icons icon-btn">
                                        <div class="wrap-btn">
                                            <button class=
                                            "button btn-orange btn-block radius"
                                            type="button"><span class=
                                            "v-flex"><span class=
                                            "btn-txt">View</span> <span class=
                                            "circle-flex"><span class=
                                            "s-btn-icon"><i class=
                                            "fa fa-eye"></i></span></span></span></button>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="user-dashboard">
                                    <div class="center-icon">
                                        <span class="item-circle">2</span>
                                        <div class="circle-icon">
                                            <span class=
                                            "d-icon d-icon12"></span>
                                        </div>
                                    </div>
                                    <h3>Guides</h3>
                                    <div class="btn-group sl-icons icon-btn">
                                        <div class="wrap-btn">
                                            <button class=
                                            "button btn-orange btn-block radius"
                                            type="button"><span class=
                                            "v-flex"><span class=
                                            "btn-txt">View</span> <span class=
                                            "circle-flex"><span class=
                                            "s-btn-icon"><i class=
                                            "fa fa-eye"></i></span></span></span></button>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="user-dashboard">
                                    <div class="center-icon">
                                        <span class="item-circle">2</span>
                                        <div class="circle-icon">
                                            <span class=
                                            "d-icon d-icon13"></span>
                                        </div>
                                    </div>
                                    <h3>Help &amp; Support</h3>
                                    <div class="btn-group sl-icons icon-btn">
                                        <div class="wrap-btn">
                                            <button class=
                                            "button btn-orange btn-block radius"
                                            type="button"><span class=
                                            "v-flex"><span class=
                                            "btn-txt">View</span> <span class=
                                            "circle-flex"><span class=
                                            "s-btn-icon"><i class=
                                            "fa fa-eye"></i></span></span></span></button>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div> -->

            <!-- employee section button end -->
            <!-- employee section comms start -->
            
            <!-- <div class="employee_dashboard">
                <div class="welcome-column">
                    <div class="col-box-left">
                        <div class="v-flex">
                            <div class="center">
                                <div class="center-icon">
                                    <div class="circle-icon">
                                        <div class="v-m">
                                            <span class="Aligner"><span class=
                                            "reporting-icon1"></span></span>
                                        </div>
                                    </div>
                                </div>
                                <p>Reporting</p>
                            </div>
                        </div>
                    </div>
                    <div class="user-column">
                        <ul>
                            <li>
                                <div class="user-dashboard">
                                    <div class="center-icon">
                                        <span class="item-circle">5</span>
                                        <div class="circle-icon">
                                            <span class=
                                            "d-icon d-icon14"></span>
                                        </div>
                                    </div>
                                    <h3>Security Reports</h3>
                                    <div class="btn-group sl-icons icon-btn">
                                        <div class="wrap-btn">
                                            <button class=
                                            "button btn-orange btn-block radius"
                                            type="button"><span class=
                                            "v-flex"><span class="btn-txt">Add
                                            New</span> <span class=
                                            "circle-flex"><span class=
                                            "s-btn-icon"><img alt="" src=
                                            "images/icons/general-add.png"></span></span></span></button>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="user-dashboard">
                                    <div class="center-icon">
                                        <span class="item-circle">2</span>
                                        <div class="circle-icon">
                                            <span class=
                                            "d-icon d-icon15"></span>
                                        </div>
                                    </div>
                                    <h3>Year to Date Reports</h3>
                                    <div class="btn-group sl-icons icon-btn">
                                        <div class="wrap-btn">
                                            <button class=
                                            "button btn-orange btn-block radius"
                                            type="button"><span class=
                                            "v-flex"><span class="btn-txt">Add
                                            New</span> <span class=
                                            "circle-flex"><span class=
                                            "s-btn-icon"><img alt="" src=
                                            "images/icons/general-add.png"></span></span></span></button>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="user-dashboard">
                                    <div class="center-icon">
                                        <span class="item-circle">2</span>
                                        <div class="circle-icon">
                                            <span class=
                                            "d-icon d-icon16"></span>
                                        </div>
                                    </div>
                                    <h3>Regional Reports</h3>
                                    <div class="btn-group sl-icons icon-btn">
                                        <div class="wrap-btn">
                                            <button class=
                                            "button btn-orange btn-block radius"
                                            type="button"><span class=
                                            "v-flex"><span class="btn-txt">Add
                                            New</span> <span class=
                                            "circle-flex"><span class=
                                            "s-btn-icon"><img alt="" src=
                                            "images/icons/general-add.png"></span></span></span></button>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="user-dashboard">
                                    <div class="center-icon">
                                        <span class="item-circle">2</span>
                                        <div class="circle-icon">
                                            <span class=
                                            "d-icon d-icon17"></span>
                                        </div>
                                    </div>
                                    <h3>Ativity Reports</h3>
                                    <div class="btn-group sl-icons icon-btn">
                                        <div class="wrap-btn">
                                            <button class=
                                            "button btn-orange btn-block radius"
                                            type="button"><span class=
                                            "v-flex"><span class="btn-txt">Add
                                            New</span> <span class=
                                            "circle-flex"><span class=
                                            "s-btn-icon"><img alt="" src=
                                            "images/icons/general-add.png"></span></span></span></button>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div> -->

            <!-- employee section button end -->
        </div>
    </div>
