<div class="type_wrapper">
	<h3>{{question.question_title}}<sup ng-if="question.question_man">*</sup> 
            <span ng-show="question.question_hint" class="ot_tip" ng-click="question.showToolTip = !question.showToolTip"><i class="newtip">?</i>

            <span ng-show="question.showToolTip" class="tooltip close-parent vehicle-tip">
                <p>{{question.question_hint}}</p>
                <span class="close"><i class="fa fa-times"></i></span>
            </span>

        </span>
            <span class="field-error" ng-show="errorMsgShow == true">{{errorMsg}}</span></h3>
	<div class="row tb_type">
		<div class="col-1">
                   
			<input type="text" ng-model="question.answer" ng-init="" ng-change="subQuestion(question, '-1', '1')" name="name" class="form-control" />
		</div>
	</div>
	<div class="clr"></div>
</div>