<div class="side-panel">
    <div class="menu-wrapper">
        <div class="logo">

            <a href="javascript:void(0)"><img alt="logo" src="images/logo.jpg"></a>
        </div>

        <ul class="main-menu">
            <li class="active">

                <a href="javascript:void(0)" class="links"><span class="icon icon1"></span> <p>Home</p></a>
            </li>

            <li>
                <a href="javascript:void(0)" class="links"><span class="icon icon11"></span> <p>Documents</p></a>
            </li>


            <li>

                <a href="javascript:void(0)" class="links" id="link_3"><span class="icon icon12"></span> <p>Policies</p></a>
            </li>


            <li>

                <a href="javascript:void(0)" class="links"><span class="icon icon13"></span> <p>Videos</p></a>
            </li>	

            <li>
                <a href="javascript:void(0)" class="links"><span class="icon icon14"></span> <p>FAQs</p></a>
            </li>

            <li><a href="javascript:void(0)" class="links"><span class="icon icon205"></span> <p>News</p></a></li>

        </ul>
    </div>
    <div class="client_new_wrapper"><img src="images/client_logo_new.png" alt="client logo"></div>
</div>