<div class="side-panel">
    <div class="menu-wrapper">
        <div class="logo">

            <a href="javascript:void(0)"><img alt="logo" src="images/logo.jpg"></a>
        </div>

        <ul class="main-menu">
            <li class="active">

                <a href="javascript:void(0)" class="links"><span class="icon icon1"></span> <p>Home</p></a>
            </li>

            <li>
                <a href="javascript:void(0)" class="links"><span class="icon icon7"></span> <p>Security <br />Reports</p></a>
            </li>


            <li>

                <a href="javascript:void(0)" class="links"><span class="icon icon8"></span> <p>Year to Date<br />Reports</p></a>
            </li>


            <li>

                <a href="javascript:void(0)" class="links"><span class="icon icon9"></span> <p>Regional<br> Reports</p></a>
            </li>	

            <li>
                <a href="javascript:void(0)" class="links"><span class="icon icon10"></span> <p>Activity <br /> Reports</p></a>

            </li>

        </ul>
    </div>
</div>