<div id="notePopup" ng-show="isNotePopUp" class="modal-change add-note close-parent">
        <div class="alert_pop_wrap">
            <div class="model_wrapper getHeight">
                <div class="model_area">
                    <div class="popup-heading">									
                        <div class="popup-icon">											
                            <span class="modal-icon note-icon"></span>										
                        </div>
<!--                        <p>Add Note <span>(bqir2001: 22/11/2015)</span></p>-->
                            <p>Add Comms <span>{{commsTitle}}</span></p>
                    </div>
                    <form method="post">
                        <div class="model_content_text">
                            <div class="model_forms">
                                <div class="row">
                                    <div class="method" ng-show="isMethod">
                                        <label>Method:</label>

                                    <div class="white_selectbox pop_slect">
                                        <ol class="nya-bs-select" ng-model="addnote.selectedMethod" data-live-search="false" ng-change="methodChange(addnote.selectedMethod)">
                                            <li nya-bs-option="comm in comms">
                                                <a>
                                                    <span class="label" >{{ comm.name}}</span>
                                                    <span class="glyphicon glyphicon-ok check-mark"></span>
                                                </a></li>
                                        </ol>
                                    </div>  
                                    </div>
                                    <div class="method" ng-show="isDuration">
                                        <label>Duration:</label>
                                        <input type="time" name="name" ng-model="notes.time_jnt" placeholder="HH:MM"  class="form-control" />
                                    </div>
                                    <div class="method" ng-show="isPhotoLibrary" ng-click="uploadImage();">
                                        <label>Photo/Library:</label>
                                        <input name="file-2[]" id="file-2" class="inputfile inputfile-2" data-multiple-caption="{count} files selected" multiple />
                                        <label for="file-2">
                                            <strong class="camera_icon"><img src="images/icons/camera_icon.png" alt="camera" /></strong> 
                                            <span>Upload</span>
                                        </label>
                                        <span ng-show="isUploadSuccess" class="txtImgSelected">Image Selected.</span>
                                    </div>
                                    
                                </div>
                                <div class="row">
                                    <div class="method" ng-show="isWith">
                                        <label>With:</label>
                                        <div class="white_selectbox pop_slect">
                                            <ol class="nya-bs-select" ng-model="addnote.selectedStaff" data-live-search="false" ng-change="staffChange(addnote.selectedStaff)" data-selected-text-format="count" multiple>
                                                <li nya-bs-option="staff in ListStaff">
                                                <a>
                                                    <span class="label" >{{ staff.firstname_usr}} {{staff.lastname_usr}}</span>
                                                    <span class="fa fa-check check-mark"></span>
                                                </a></li>
                                            </ol>
                                        </div>
                                    </div>
                                    <div class="method" ng-show = "isRemind">
                                        <label>Remind Me:</label>
                                        <div datepicker datepicker-class="test-custom-class" date-format="dd-MM-yyyy" date-min-limit="" date-max-limit="" date-typer="true">
                                            <input readonly ng-model="notes.remind_me_date" type="text" class="angular-datepicker-input form-control calender_textbox" placeholder="Date" />
                                        </div>
<!--                                        <input type="text" name="name" placeholder="22/01/2016" class="form-control calender_textbox" id="datepicker" />-->
                                    </div>
                                    <div class="method" ng-show="isDeadLine">
                                        <label>Deadline:</label>
                                        <div datepicker datepicker-class="test-custom-class" date-format="dd-MM-yyyy" date-min-limit="" date-max-limit="" date-typer="true">
                                            <input readonly ng-model="notes.dead_line_date" type="text" class="angular-datepicker-input form-control calender_textbox" placeholder="Date" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <textarea ng-show="isNoteDesc" ng-model="notes.note_jnt" placeholder="Type Note Here..."></textarea>
                        </div>
                        <div class="model_button">                                    
                            <div class="btn-group action-button icon-btn">  
                                <div class="wrap-btn"> 
                                    <div class="model_button_right fr">
                                        <div class="btn-group action-button action-nxt icon-btn">
                                            <div class="wrap-btn">							
                                                <button class="button btn-green btn-block radius" type="button" ng-click="AddNote()">
                                                    <span class="v-flex">
                                                        <span class="btn-txt">Add Note</span>	
                                                        <span class="circle-flex">
                                                            <span class="s-btn-icon radius"><i class="fa fa-chevron-right"></i></span>	
                                                        </span>											
                                                    </span>
                                                </button>							                  
                                            </div>						
                                        </div>
                                    </div>									

                                    <div class="model_button_left fl">
                                        <div class="btn-group action-button icon-btn close">	
                                            <div class="wrap-btn">							
                                                <button class="button btn-action btn-block radius" type="button" ng-click="hideAddNotePopup()">	
                                                    <span class="v-flex">
                                                        <span class="circle-flex">
                                                            <span class="s-btn-icon radius"><i class="fa fa-chevron-left"></i></span>	
                                                        </span>
                                                        <span class="btn-txt">Cancel</span>
                                                    </span>											
                                                </button>	
                                            </div>							  
                                        </div>
                                    </div>

                                </div>                           
                            </div>
                        </div>
                    </form>
                </div>
            </div>	
        </div>
    </div>
<div class="ngdialog ngdialog-theme-default" ng-show="isCameraOption">
        <div class="ngdialog-overlay"></div>
        <div class="ngdialog-content" role="document">
            <div class="ngdialog-message">
                <h3 id="ngdialog1-aria-labelledby">Upload Files</h3>
                <ul class="camera_links">
                    <li><button ng-click="openCamera();"><span class="camera_img"></span> Camera</button></li>
                    <li><button ng-click="openGallery();"><span class="gallery_img"></span> Gallery</button></li>
                    <li><button ng-click="closeCameraOption();"><span class="close_img"></span> Close</button></li>
                </ul>
            </div>
        </div>
    </div>
<div class="alert_pop_wrap animation" ng-show="isSuccess">
        <div class="model_wrapper getHeight">
            <div class="model_area">
                <div class="model_head">
                    <div class="model_head_icon"><img src="images/icons/notification-success-color.png" alt="Success" /></div>
                    <div class="model_head_text green">Success</div>
                </div>
                <div class="model_content_text">
                    <p>{{successMsg}}</p>
                </div>
                <div class="model_button">


<!--                    <div class="model_button_right">
                        <div class="btn-group action-button action-nxt icon-btn">
                            <div class="wrap-btn">							
                                <button class="button btn-green btn-block radius" type="button">
                                    <span class="v-flex">
                                        <span class="btn-txt">View</span>	
                                        <span class="circle-flex">
                                            <span class="s-btn-icon radius"><i class="fa fa-chevron-right"></i></span>	
                                        </span>											
                                    </span>
                                </button>							                  
                            </div>						
                        </div>
                    </div>-->


                    <div class="model_button_right">
                        <div class="btn-group action-button action-nxt icon-btn">	
                            <div class="wrap-btn">							
                                <button class="button btn-green btn-block radius" ng-click="closeSuccess();" type="button">	
                                    <span class="v-flex">
                                        <span class="btn-txt">OK</span>
<!--                                        <span class="circle-flex">
                                            <span class="s-btn-icon radius"><i class="fa fa-chevron-right"></i></span>	
                                        </span>-->
                                        
                                    </span>											
                                </button>	
                            </div>							  
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>