 <div ng-include="'views/sidePanels/sidePanelEmployment.html'"></div>	
<div class="employee_wrap">
       <div class="layout">
          <div class="staff_header">
             <div class="icon">
                <div class="center-icon on-icons">
                   <div class="circle-icon">
                      <div class="v-m">
                         <span class="d-icon d-icon2"></span>
                      </div>
                   </div>
                </div>
             </div>
             <div class="text">
                <h1>Hi.  Welcome to the Employment Section.</h1>
                <h2>Please select from the below.</h2>
             </div>
             <div class="clr"></div>
          </div>
          <div class="security-sections">
             <div class="row">
                <div class="col-2 pull-left">
                   <h3>My Profile <span>?</span></h3>
                   <div class="row">
                      <div class="btn-group sl-icons icon-btn">
                         <div class="wrap-btn">							
                            <button class="button btn-orange btn-block radius" type="button">	
                            <span class="v-flex">								  
                            <span class="btn-txt"></span>
                            <span class="circle-flex">
                            <span class="s-btn-icon"><img src="images/icons/general-search.png" alt=""></span>		
                            </span>
                            </span>										
                            </button>	
                         </div>
                      </div>
                   </div>
                </div>
                <div class="col-2 pull-right">
                   <h3>Staff Directory <span>?</span></h3>
                   <div class="row">
                      <div class="button-right">
                         <div class="btn-group sl-icons icon-btn">
                            <div class="wrap-btn">							
                               <button class="button btn-orange btn-block radius" type="button">	
                               <span class="v-flex">
                               <span class="btn-txt">View</span>
                               <span class="circle-flex">
                               <span class="s-btn-icon"><i class="fa fa-eye"></i></span>	
                               </span>								  
                               </span>										
                               </button>
                            </div>
                         </div>
                      </div>
                      <div class="button-left">
                         <div class="btn-group sl-icons icon-btn">
                            <div class="wrap-btn">							
                               <button type="button" class="button btn-orange btn-block radius">	
                               <span class="v-flex">								  
                               <span class="btn-txt">Search</span>
                               <span class="circle-flex">
                               <span class="s-btn-icon"><img src="images/icons/general-search.png"></span>	
                               </span>
                               </span>										
                               </button>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
             <div class="row">
                <div class="col-2 pull-left">
                   <h3>Venue Directory <span>?</span></h3>
                   <div class="row">
                      <div class="button-right">
                         <div class="btn-group sl-icons icon-btn">
                            <div class="wrap-btn">                    
                               <button class="button btn-orange btn-block radius" type="button"> 
                               <span class="v-flex">
                               <span class="btn-txt">View</span>
                               <span class="circle-flex">
                               <span class="s-btn-icon"><i class="fa fa-eye"></i></span>   
                               </span>                         
                               </span>                             
                               </button>
                            </div>
                         </div>
                      </div>
                      <div class="button-left">
                         <div class="btn-group sl-icons icon-btn">
                            <div class="wrap-btn">                    
                               <button type="button" class="button btn-orange btn-block radius"> 
                               <span class="v-flex">                          
                               <span class="btn-txt">Search</span>
                               <span class="circle-flex">
                               <span class="s-btn-icon"><img src="images/icons/general-search.png"></span>   
                               </span>
                               </span>                             
                               </button>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
<script>
            var inter = setInterval(action, 3000);
            function action() {
                var s = document.createElement('script');
                s.type = 'text/javascript';
                s.async = true;
                s.src = 'scripts/custom.js';
                var x = document.getElementsByTagName('script')[0];
                x.parentNode.insertBefore(s, x);
                clearInterval(inter);
            }
        </script>