<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"> 
	<!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
	<!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->	
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<meta name="author" content="" />     
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=yes">
    <title>B&amp;Q </title>
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon-16x16.png">
	<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />	
	<link href="css/css3.css" rel="stylesheet" type="text/css" media="all" />	
	<link rel="stylesheet" media="screen" href="css/fancySelect.css">
	<link href="css/globalinterface.css" rel="stylesheet" type="text/css" media="all" />		
	<link rel="stylesheet" href="css/font-awesome.min.css">
	
	<script type="text/javascript" src="js/jquery-2.1.1.min.js"></script>	
	<script type="text/javascript" src="js/jquery.circlechart.js"></script>
	<script type="text/javascript" src="js/modernizr.min.js"></script>
	<script type="text/javascript" src="js/fancySelect.js"></script>	
	<script type="text/javascript" src="js/custom.js"></script>	
	<script type="text/javascript" src="js/ui.js"></script>	

	<body>	

		<div class="page">			
			<div class="side-panel">
				<a href="javascript:void(0)" class="close-nav">Close</a>
				<div class="inner-side-panel">					
					<div class="inner-side-inner">					
						<div id="id_of_div" class="divs">
							<h3>Dashboard</h3>
							<div class="btn-group sl-icons icon-btn">
								 <div class="wrap-btn">							
									  <button type="button" class="button btn-orange btn-block radius">	
										<div class="v-flex">								  
											<span class="btn-txt">Add New Dashboard</span>
											<div class="circle-flex">
												<span class="s-btn-icon"><img alt="" src="images/icons/general-add.png"></span>	
											</div>
										</div>										
									  </button>
								</div>							  
							</div>
							
							
							<ul class="view-lists">
								<li><a href="javascript:void(0)"><span>View Incident</span></a></li>
								<li><a href="javascript:void(0)"><span>View My Incidents</span></a></li>
								<li><a href="javascript:void(0)"><span>View My Draft Incidents</span></a></li>
							</ul>
							
							<div class="srch-box">
								<input type="text" class="search-btn" placeholder="Search">
								<input type="button" class="search-icon" value="submit">
							</div>
							
							
							<div class="recent-srch">
							<h3>Recent Searches</h3>
							<ul class="recent-lists">
								<li>
									<div class="row">
										<label>ID:</label>
										<span>BQ1R200</span>
									</div>
									<div class="row">
										<label>Outcome:</label>
										<span>Actual</span>
									</div>
									<div class="row">
										<label>Type:</label>
										<span>Theft</span>
									</div>
									<div class="row">
										<label>Date:</label>
										<span>9/11/2015</span>
									</div>
									<div class="row">
										<label>Status:</label>
										<span>Reported</span>
									</div>
								</li>
								<li>
									<div class="row">
										<label>ID:</label>
										<span>BQ1R200</span>
									</div>
									<div class="row">
										<label>Outcome:</label>
										<span>Actual</span>
									</div>
									<div class="row">
										<label>Type:</label>
										<span>Theft</span>
									</div>
									<div class="row">
										<label>Date:</label>
										<span>9/11/2015</span>
									</div>
									<div class="row">
										<label>Status:</label>
										<span>Reported</span>
									</div>
								</li>
								<li>
									<div class="row">
										<label>ID:</label>
										<span>BQ1R200</span>
									</div>
									<div class="row">
										<label>Outcome:</label>
										<span>Actual</span>
									</div>
									<div class="row">
										<label>Type:</label>
										<span>Theft</span>
									</div>
									<div class="row">
										<label>Date:</label>
										<span>9/11/2015</span>
									</div>
									<div class="row">
										<label>Status:</label>
										<span>Reported</span>
									</div>
								</li>
							</ul>
							</div>
							
						</div>
						<div id="id_of_div2" class="divs">
							<h3>Incident Reports</h3>
							<div class="btn-group sl-icons icon-btn">
								 <div class="wrap-btn">							
									  <button type="button" class="button btn-orange btn-block radius">	
										<div class="v-flex">								  
											<span class="btn-txt">Add New Incident</span>
											<div class="circle-flex">
												<span class="s-btn-icon"><img alt="" src="images/icons/general-add.png"></span>	
											</div>
										</div>										
									  </button>
								</div>							  
								</div>
								
							<ul class="view-lists">
								<li><a href="javascript:void(0)"><span>View Incident</span></a></li>
								<li><a href="javascript:void(0)"><span>View My Incidents</span></a></li>
								<li><a href="javascript:void(0)"><span>View My Draft Incidents</span></a></li>
							</ul>
							
							<div class="srch-box">
								<input type="text" class="search-btn" placeholder="Search">
								<input type="button" class="search-icon" value="submit">
							</div>
							
							<div class="recent-srch">
							<h3>Recent Searches</h3>
							<ul class="recent-lists">
								<li>
									<div class="row">
										<label>ID:</label>
										<span>BQ1R200</span>
									</div>
									<div class="row">
										<label>Outcome:</label>
										<span>Actual</span>
									</div>
									<div class="row">
										<label>Type:</label>
										<span>Theft</span>
									</div>
									<div class="row">
										<label>Date:</label>
										<span>9/11/2015</span>
									</div>
									<div class="row">
										<label>Status:</label>
										<span>Reported</span>
									</div>
								</li>
								<li>
									<div class="row">
										<label>ID:</label>
										<span>BQ1R200</span>
									</div>
									<div class="row">
										<label>Outcome:</label>
										<span>Actual</span>
									</div>
									<div class="row">
										<label>Type:</label>
										<span>Theft</span>
									</div>
									<div class="row">
										<label>Date:</label>
										<span>9/11/2015</span>
									</div>
									<div class="row">
										<label>Status:</label>
										<span>Reported</span>
									</div>
								</li>
								<li>
									<div class="row">
										<label>ID:</label>
										<span>BQ1R200</span>
									</div>
									<div class="row">
										<label>Outcome:</label>
										<span>Actual</span>
									</div>
									<div class="row">
										<label>Type:</label>
										<span>Theft</span>
									</div>
									<div class="row">
										<label>Date:</label>
										<span>9/11/2015</span>
									</div>
									<div class="row">
										<label>Status:</label>
										<span>Reported</span>
									</div>
								</li>
							</ul>
							</div>
						</div>
						<div id="id_of_div3" class="divs">
							<h3>Offenders  &amp; OCG's</h3>
							
						</div>
						
						<div id="id_of_div4" class="divs">
							<h3>Vechicles</h3>
							
						</div>
						
						<div id="id_of_div5" class="divs">
							<h3>Vicitms &amp;  Witnesses</h3>
							
						</div>
						
						<div id="id_of_div5" class="divs">
							<h3>Vicitms &amp;  Witnesses</h3>
							
						</div>
						
						<div id="id_of_div5" class="divs">
							<h3>Vicitms &amp;  Witnesses</h3>
							
						</div>
						
						<div id="id_of_div5" class="divs">
							<h3>Vicitms &amp;  Witnesses</h3>						
						</div>
						
					</div>
				</div>
				
				<div class="menu-wrapper">
					<div class="logo">
						<a href="javascript:void(0)"><img alt="logo" src="images/logo.jpg"></a>
					</div>
					
					<ul class="main-menu click-slide">
						<li>
							<a href="#id_of_div" class="links" id="link_1"><span class="icon icon1"></span> <p>Dashboard</p></a>
						</li>
						
						<li>
							<a href="#id_of_div2" class="links" id="link_2"><span class="icon icon2"></span> <p>Incident <br />Reports</p></a>
						</li>
						
						
						<li>
							<a href="#id_of_div3" class="links" id="link_1"><span class="icon icon3"></span> <p>Offenders  <br />&amp; OCG's</p></a>
						</li>
						
						
						<li>
							<a href="#id_of_div4" class="links" id="link_1"><span class="icon icon4"></span> <p>Vechicles</p></a>
						</li>	
						
						<li>
							<a href="#id_of_div5" class="links" id="link_1"><span class="icon icon5"></span> <p>Vicitms &amp; <br /> Witnesses</p></a>
						</li>
						
					</ul>
				</div>
			</div>
		
			<div class="page-inner">
				<div id="header">
					<div class="layout">
						<div class="row-fluid">
							<span class="month-date">Thursday 8th October 2015</span>
							
							<!--header right-->	
							<div class="header-right">
							
								<!--header button-->	
								<div class="task-nbar">
									<div class="mobile-only mobile-trigger">
										<a href="javascript:void(0)"><strong>Updates </strong><span class="notify-icon down-icon"><i class="fa fa-chevron-down"></i></span></a>
									</div>
									<div class="desktop-only mobile-toggle">
										<div class="alert_tip">
											<a class="inbox_msg" href="javascript:void(0)"><strong><span class="alert-icon"></span> Inbox </strong><span class="notify-icon">3</span></a>
											<div class="message-notification">
												<div class="notify-strip">You have 2 new messages</div>
												<ul class="n-content">
													<li>
														<span class="just-now">Just Now</span>
														<div class="user-img"><img src="images/icons/general-no-profile.png" alt="user image"></div>
														<div class="n-msg">
															<span class="m-name">Joe Jonshon</span>
															<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
														</div>
													</li>
													
													<li>
														<span class="just-now">Just Now</span>
														<div class="user-img"><img src="images/icons/general-no-profile.png" alt="user image"></div>
														<div class="n-msg">
															<span class="m-name">Joe Jonshon</span>
															<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
														</div>
													</li>
												</ul>
											</div>
										</div>
										<div class="alert_tip">
											<a class="inbox_msg" href="javascript:void(0)"><strong><span class="alert-icon alert"></span> Alerts </strong><span class="notify-icon">2</span></a>
											<div class="message-notification">
												<div class="notify-strip">You have 2 Alert</div>
												<ul class="n-content">
													<li class="notification_pop">
														<span class="just-now">14:28</span>
														<div class="user-img"><img src="images/icons/top-bar-notififcation.png" alt="user image"></div>
														<div class="n-msg">
															<span class="m-name">Joe Jonshon</span>
															<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
														</div>
													</li>
													
													<li class="alert_pop">
														<span class="just-now">02/01/2016</span>
														<div class="user-img"><img src="images/icons/top-bar-alert.png" alt="user image"></div>
														<div class="n-msg">
															<span class="m-name">Joe Jonshon</span>
															<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
														</div>
													</li>
												</ul>
											</div>
										</div>
										<div class="alert_tip">
											<a class="inbox_msg" href="javascript:void(0)"><strong><span class="alert-icon task"></span> Tasks </strong><span class="notify-icon">4</span></a>
											<div class="message-notification">
												<div class="notify-strip">You have 4 Task</div>
												<ul class="n-content">
													<li class="over_due">
														<div class="user-img"><img src="images/icons/top-bar-task-overdue.png" alt="user image"></div>
														<div class="n-msg">
															<span class="m-name">Overdue (TC000021)</span>
															<p>Missing Information</p>
															<p>Date Required: 02/02/2016</p>
														</div>
													</li>
													
													<li class="over_due">
														<div class="user-img"><img src="images/icons/top-bar-task-overdue.png" alt="user image"></div>
														<div class="n-msg">
															<span class="m-name">Overdue (TC000012)</span>
															<p>Missing Information</p>
															<p>Date Required: 02/02/2016</p>
														</div>
													</li>
													<li class="task_complete">
														<div class="user-img"><img src="images/icons/top-bar-task-completed.png" alt="user image"></div>
														<div class="n-msg">
															<span class="m-name">Confirmed (TC000029)</span>
															<p>Missing Information</p>
															<p>Date Required: 02/02/2016</p>
														</div>
													</li>
													<li class="task_pending">
														<div class="user-img"><img src="images/icons/top-bar-task-pending.png" alt="user image"></div>
														<div class="n-msg">
															<span class="m-name">Pending (TC000022)</span>
															<p>Missing Information</p>
															<p>Date Required: 02/02/2016</p>
														</div>
													</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
								<!--header button end-->	
								<div class="prof_log">
									<!--link profile-->
									<div class="member-profile">
										<a class="link-profile" href="javascript:void(0)">
										  <img alt="User Image" class="user-image" src="images/icons/general-no-profile.png">
										  <span class="notify-icon">2</span>
										</a>
									</div>
									<!--link profile end-->
									
									<!--logout profile-->
									<div  class="logout">
									</div>
									<!--logout profile end-->
								</div>
							</div>
							<!--header right-->	
						</div>
					</div>
					<!--Breadcrumb-->
					<div class="breadcrumb-outer">
						<div class="layout">
							<ul class="breadcrumb">
							<li>
								<a href="javascript:void(0)">Dashboard</a><span class="fa fa-angle-right"></span> 
							</li>	
							
							<li class="active">Security</li>
						  </ul>
						</div>
					</div>
				</div>
				<div id="content">
					<div class="layout">
						<div class="no_internet_strip">
							<div class="error-strip close-parent">
								<span class="no-internet-icon"></span>
								<h4>No Internet Connection</h4>		
								<div class="close"><span class="fa fa-times"></span></div>			
							</div>
						</div>
					</div>
				</div>
				
				<div id="footer">
					<div class="layout">
					<div class="mobile-only">
						 <span class="primary-trigger"> <label>Menu</label><i class="fa fa-bars"></i></span>
					</div>
					
						<div class="footer-active">
							<ul class="primary-nav">
								<li></li>
							</ul>
						</div>
					
					<ul class="primary-nav mobie-menu">
						<li>
							<a href="javascript:void(0)">
								<span class="dahboard-icon"></span>
								<strong>Dashboard</strong>
							</a>
						</li>
						
						<li>
							<a href="javascript:void(0)">
								<span class="security-icon"></span>
								<strong>Security</strong>
							</a>
							</li>
							
						<li>
							<a href="javascript:void(0)">
								<span class="employment-icon"></span>
								<strong>Employment</strong>
							</a>
						</li>
						
						<li>
							<a href="javascript:void(0)">
								<span class="resources-icon"></span>
								<strong>Resources</strong>
							</a>
						</li>
						
						<li>
							<a href="javascript:void(0)">
								<span class="reporting-icon"></span>
								<strong>Reporting</strong>
							</a>
						</li>
					</ul>
				</div>
				</div>
				
				
			</div>
			<div class="cust-overlay">&nbsp;</div>
		</div>

	</body>
</html>