
		<div class="page" ng-controller="ProductStockController">
			
			<div class="side-panel">
				<div class="inner-side-panel">
					<a href="javascript:void(0)"  class="close-nav">Close</a>
					<div id="id_of_div" class="divs">
						<h3>Dashboard</h3>
						<button class="default-btn">Add New Dashboard</button>
						<ul class="view-lists">
							<li><a href="javascript:void(0)">View Dashboard</a></li>
						</ul>
						<input type="text" value="Search" class="search-btn">
						<h3>Recent Searches</h3>
						<ul class="recent-lists">
							<li>
								<div class="row">
									<label>ID:</label>
									<span>BQ1R200</span>
								</div>
								<div class="row">
									<label>Outcome:</label>
									<span>Actual</span>
								</div>
								<div class="row">
									<label>Type:</label>
									<span>Theft</span>
								</div>
								<div class="row">
									<label>Date:</label>
									<span>9/11/2015</span>
								</div>
								<div class="row">
									<label>Status:</label>
									<span>Reported</span>
								</div>
							</li>
							<li>
								<div class="row">
									<label>ID:</label>
									<span>BQ1R200</span>
								</div>
								<div class="row">
									<label>Outcome:</label>
									<span>Actual</span>
								</div>
								<div class="row">
									<label>Type:</label>
									<span>Theft</span>
								</div>
								<div class="row">
									<label>Date:</label>
									<span>9/11/2015</span>
								</div>
								<div class="row">
									<label>Status:</label>
									<span>Reported</span>
								</div>
							</li>
							<li>
								<div class="row">
									<label>ID:</label>
									<span>BQ1R200</span>
								</div>
								<div class="row">
									<label>Outcome:</label>
									<span>Actual</span>
								</div>
								<div class="row">
									<label>Type:</label>
									<span>Theft</span>
								</div>
								<div class="row">
									<label>Date:</label>
									<span>9/11/2015</span>
								</div>
								<div class="row">
									<label>Status:</label>
									<span>Reported</span>
								</div>
							</li>
						</ul>
					</div>
					
					<div id="id_of_div2" class="divs">
						<h3>Incident Reports</h3>
						<button class="default-btn">Add New Incident</button>
						<ul class="view-lists">
							<li><a href="javascript:void(0)">View Incident</a></li>
						</ul>
						<input type="text" value="Search" class="search-btn">
						<h3>Recent Searches</h3>
						<ul class="recent-lists">
							<li>
								<div class="row">
									<label>ID:</label>
									<span>BQ1R200</span>
								</div>
								<div class="row">
									<label>Outcome:</label>
									<span>Actual</span>
								</div>
								<div class="row">
									<label>Type:</label>
									<span>Theft</span>
								</div>
								<div class="row">
									<label>Date:</label>
									<span>9/11/2015</span>
								</div>
								<div class="row">
									<label>Status:</label>
									<span>Reported</span>
								</div>
							</li>
							<li>
								<div class="row">
									<label>ID:</label>
									<span>BQ1R200</span>
								</div>
								<div class="row">
									<label>Outcome:</label>
									<span>Actual</span>
								</div>
								<div class="row">
									<label>Type:</label>
									<span>Theft</span>
								</div>
								<div class="row">
									<label>Date:</label>
									<span>9/11/2015</span>
								</div>
								<div class="row">
									<label>Status:</label>
									<span>Reported</span>
								</div>
							</li>
							<li>
								<div class="row">
									<label>ID:</label>
									<span>BQ1R200</span>
								</div>
								<div class="row">
									<label>Outcome:</label>
									<span>Actual</span>
								</div>
								<div class="row">
									<label>Type:</label>
									<span>Theft</span>
								</div>
								<div class="row">
									<label>Date:</label>
									<span>9/11/2015</span>
								</div>
								<div class="row">
									<label>Status:</label>
									<span>Reported</span>
								</div>
							</li>
						</ul>
					</div>
					<div id="id_of_div3" class="divs">
						<h3>Offenders  &amp; OCG's</h3>
						
					</div>
					<div id="id_of_div4" class="divs">
						<h3>Vechicles</h3>
						
					</div>
					<div id="id_of_div5" class="divs">
						<h3>Vicitms &amp;  Witnesses</h3>
						
					</div>
				</div>
				<div class="menu-wrapper">
					<div class="logo">
						<a href="javascript:void(0)"><img alt="logo" src="images/logo.jpg"></a>
					</div>
					
					<ul class="main-menu">
						<li>
							<a href="#id_of_div" class="links" id="link_1"><span class="icon icon1"></span> <p>Dashboard</p></a>
						</li>
						
						<li>
							<a href="#id_of_div2" class="links" id="link_2"><span class="icon icon2"></span> <p>Incident <br />Reports</p></a>
						</li>
						
						
						<li>
							<a href="#id_of_div3" class="links" id="link_3"><span class="icon icon3"></span> <p>Offenders  <br />&amp; OCG's</p></a>
						</li>
						
						
						<li>
							<a href="#id_of_div4" class="links" id="link_4"><span class="icon icon4"></span> <p>Vechicles</p></a>
						</li>	
						
						<li>
							<a href="#id_of_div5" class="links" id="link_5"><span class="icon icon5"></span> <p>Vicitms &amp; <br /> Witnesses</p></a>
						</li>
						
					</ul>
				</div>
				<div class="client_new_wrapper"><img src="images/client_logo_new.png" alt="client logo"></div>
			</div>
		
			<div class="page-inner">
				<div id="header">
					<div class="layout">
						<div class="row-fluid">
							<span class="month-date">Thursday 8th October 2015</span>
							
							<!--header right-->	
							<div class="header-right">
							
								<!--header button-->	
								<div class="task-nbar">
									<div class="mobile-only mobile-trigger">
										<a href="javascript:void(0)"><strong>Updates </strong><span class="notify-icon down-icon"><i class="fa fa-chevron-down"></i></span></a>
									</div>
									<div class="desktop-only mobile-toggle">
										<a href="javascript:void(0)"><strong><span class="alert-icon"></span> Inbox </strong><span class="notify-icon">3</span></a>
										<a href="javascript:void(0)"><strong><span class="alert-icon alert"></span> Alerts </strong><span class="notify-icon">2</span></a>
										<a href="javascript:void(0)"><strong><span class="alert-icon task"></span> Tasks </strong><span class="notify-icon">4</span></a>
									</div>
								</div>
								<!--header button end-->	
								
								<!--link profile-->
								<div class="member-profile">
									<a class="link-profile" href="javascript:void(0)">
									  <img alt="User Image" class="user-image" src="images/icons/general-no-profile.png">
									  <span class="notify-icon">2</span>
									</a>
								</div>
								<!--link profile end-->
								
								<!--logout profile-->
								<div  class="logout">
								</div>
								<!--logout profile end-->
								
							</div>
							<!--header right-->	
						</div>
					</div>
					<!--Breadcrumb-->
					<div class="breadcrumb-outer">
						<div class="layout">
							<ul class="breadcrumb">
							<li>
								<a href="javascript:void(0)">Dashboard</a><span class="fa fa-angle-right"></span> 
							</li>	
							
							<li class="active">Security</li>
						  </ul>
						</div>
					</div>
				</div>
				<div id="content" class="security_wrappper">
					<div class="layout">
						<div class="security_head">
							<div class="icon">
								<div class="center-icon on-icons">
									<div class="circle-icon">
										<div class="v-m">
											<span class="d-icon d-icon1"></span>
										</div>
									</div>
							   </div>
							</div>
							<div class="text">
								<h1><span>Incident Report:</span></h1>
								<div class="incident_head_select_box">
									<select class="basic-usage-demo1">
										<option>Product Stock &amp; Value</option>
										<option>What Has Happened</option>
										<option>Who Was Involved?</option>
										<option>What Action Was Taken</option>
										<option>Complete &amp; Submit</option>
									</select>
								</div>
							</div>
						</div>
						<div class="clr"></div>
						<ul class="security_breadcrumb">
							<li><a class="current" href="javascript:void(0)">Incident Details</a></li>
							<li><a href="javascript:void(0)">What Has Happened?</a></li>
							<li><a href="javascript:void(0)">Who Was Involved?</a></li>
							<li><a href="javascript:void(0)">What Action Was Taken</a></li>
							<li><a href="javascript:void(0)">Complete &amp; Submit</a></li>
						</ul>
							<div class="incident_report_wrapper product_table_wrap" >
								<table>
									<thead>
										<tr>
											<th class="tr_1">Where?</th>
											<th class="tr_2">Brand</th>
											<th class="tr_3">Code</th>
											<th class="tr_4">Name</th>
											<th class="tr_5">Unit Value (&pound;)</th>
											<th class="tr_6">Qty</th>
											<th class="tr_7">Recovered?</th>
											<th class="tr_8">Sub-Total (&pound;)</th>
											<th class="tr_9">Action</th>
										</tr>
									</thead>
									<tbody>
										<tr product-stock-row ng-repeat="item in inputs" item="item" ></tr>      
                                    </tbody>
								</table>
							</div>
							<div class="clr"></div>
							<div class="tbl_footer_wrap">
								<div class="left">
									<div class="tbl_btn_wrap" ng-click="addNewProduct()">
										<button class="button btn-orange btn-block radius" type="button">	
											<span class="v-flex">								  
												<span class="btn-txt">Add New Product</span>
												<span class="circle-flex">
													<span class="s-btn-icon"><img src="images/icons/general-add.png" alt=""></span>	
												</span>
											</span>										
									    </button>
									</div>
								</div>
								<div class="right">
									<div class="tbl_text_wrap">
										<p>Recovered Products: <span>5 (&pound;1000.00)</span></p>
										<p>Damaged Products: <span>1 (&pound;200.00)</span></p>
										<h6>Total Products &amp; Value: <span>5 (&pound;1000.00)</span></h6>
									</div>
								</div>
								<div class="clr"></div>
							</div>
							<div class="incident_report_btn_wrapper">
								<div class="incident_btn_wrap">
									<div class="btn-group action-button icon-btn">	
										 <div class="wrap-btn">							
											  <button class="button btn-action btn-block radius" type="button">	
												<span class="v-flex">
													<span class="circle-flex">
														<span class="s-btn-icon"><i class="fa fa-chevron-left"></i></span>	
													</span>
													<span class="btn-txt">Back</span>
												</span>											
											  </button>	
										 </div>							  
									</div>
								</div>
								<div class="incident_btn_wrap">
									<div class="btn-group action-button icon-btn">	
										 <div class="wrap-btn" >
											  <button class="button btn-action btn-block radius" type="button" id="button_save" ng-click="button_save()">
												<div class="v-flex">
													<div class="circle-flex">
														<span class="s-btn-icon"><img src="images/icons/save_icon.png" alt="save icon" /></span>	
													</div>
													<span class="btn-txt">Save</span>
												</div>											
											  </button>	
										 </div>							  
									</div>
								</div>
								<div class="incident_btn_wrap last_btn">
									<div class="btn-group action-button action-nxt icon-btn">
										<div class="wrap-btn">							
											<button class="button btn-action btn-block btn-green radius" type="button">
												<div class="v-flex">
													<span class="btn-txt">Next</span>	
													<div class="circle-flex">
														<span class="s-btn-icon"><i class="fa fa-chevron-right"></i></span>	
													</div>											
												</div>
										   </button>							                  
										</div>						
									</div>
								</div>
								<div class="clr"></div>
							</div>

					</div>
				</div>
				
				<div id="footer">
					<div class="layout">
					<div class="mobile-only">
						 <span class="primary-trigger"> <label>Menu</label><i class="fa fa-bars"></i></span>
					</div>
					
						<div class="footer-active">
							<ul class="primary-nav">
								<li></li>
							</ul>
						</div>
					
					<ul class="primary-nav mobie-menu">
						<li>
							<a href="javascript:void(0)">
								<span class="dahboard-icon"></span>
								<strong>Dashboard</strong>
							</a>
						</li>
						
						<li>
							<a href="javascript:void(0)">
								<span class="security-icon"></span>
								<strong>Security</strong>
							</a>
							</li>
							
						<li>
							<a href="javascript:void(0)">
								<span class="employment-icon"></span>
								<strong>Employment</strong>
							</a>
						</li>
						
						<li>
							<a href="javascript:void(0)">
								<span class="resources-icon"></span>
								<strong>Resources</strong>
							</a>
						</li>
						
						<li>
							<a href="javascript:void(0)">
								<span class="reporting-icon"></span>
								<strong>Reporting</strong>
							</a>
						</li>
					</ul>
				</div>
				</div>			
				
			</div>
		</div>
