<div id="208" ng-controller="ViewVechileById" ng-show="vehicleDetailShowStatus">
    <div class="vvheader_wrap">
        <div class="text_wrap">
            <div class="vvh_icon">
                <div class="icon">
                    <div class="center-icon on-icons">
                        <div class="circle-icon">
                            <div class="v-m">
                                <span class="d-icon d-icon3"></span>
                            </div>
                        </div>    
                    </div>
                </div>
                <div class="text_head">
                    <h1><span>Vehicle:</span></h1>
                </div>              
            </div>          
            <div class="np_wrap">
                <div class="np_area">{{vechileData.licence_plate_vtk| uppercase}}</div>
            </div>  
        </div>
        <div class="edit_btn_wrap">
            <div class="btn-group sl-icons icon-btn">
                <div class="wrap-btn">                          
                    <button class="button btn-orange btn-block radius" type="button" ng-click="editVechile(vechileData.id_vtk);"> 
                        <span class="v-flex">                                 
                            <span class="btn-txt">Edit</span>
                            <span class="circle-flex">
                                <span class="s-btn-icon"><i class="fa fa-edit"></i></span>          
                            </span>
                        </span>
                    </button>
                </div>                                
            </div>
        </div>  
        <p>Last updated: {{vechileData.updated_time}}</p>                            
    </div>
    <div class="incident_report_tab of_detail_view">
        <div class="offender_slider_wrap">

            <div ng-if="images.length>0" class="carousel-demo-fullscreen">
                <ul rn-carousel rn-carousel-controls rn-carousel-buffered class="carousel1" rn-carousel-index="imageIndex">

                    <li id="tags-list" ng-repeat="image in images track by $index" ng-class="'id-' + {{$index}}">
                        <img ng-src="{{image.imageurl}}" custom-click="imageLargeView(image);"/> 
                    </li>
                </ul>
            </div>
             <div ng-if="images.length == 0" class="carousel-demo-fullscreen">
                <img src="images/car_img.jpg"/> 
            </div>
            
        </div>
        <div class="offender_details">
            <div class="parentHorizontalTab">
                <ul class="tabs hor_1">
                    <li>Vehicle Details</li>
                    <li>Images &amp; Media</li>
                </ul>
                <div class="tab_container hor_1">

                    <div class="tab_content">
                        <div class="vvl_wrap">
                            <div class="left">
                                <ul>
                                    <li><p><span>Plate:</span> <strong>{{vechileData.licence_plate_type === 1 ? "Full" : "Partial"}}</strong></p></li>
                                    <li><p><span>False:</span> <strong>{{vechileData.possible_false_plate === 1 ? "Yes" : "No"}}</strong></p></li>
                                    <li><p>Description:</p></li>
                                    <li><p><span><strong ng-bind-html="vechileData.description_vtk"></strong></span></p></li>
                                </ul>
                            </div>
                            <div class="left">
                                <ul>
                                    <li><p><span>Make:</span> <strong ng-bind-html="vechileData.make_vtk"></strong></p></li>
                                    <li><p><span>Model:</span> <strong  ng-bind-html="vechileData.model_vtk"></strong></p></li>
                                    <!--                                        <li><p><span>Year:</span> <strong ng-bind-html="vechileData.year_of_manufacture_vtk"></strong></p></li>
                                                                            <li><p><span>MOT:</span> <strong ng-bind-html="vechileData.mot_vtk"></strong></p></li>
                                                                            <li><p><span>Taxed:</span> <strong ng-bind-html="vechileData.taxed_vtk"></strong></p></li>-->
                                    <li><p><span>Colour:</span> <strong ng-bind-html="vechileData.colour_vtk"></strong></p></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="tab_content">
                        <div class="up_img_wrap">
                            <div class="col_4" ng-repeat="image in images| startFrom : 0">
                                <div class="files_upload_wrap">
                                    <div class="image">
                                        <a href="javascript:void(0);"></a>
                                        <img ng-src="{{image.url}}" alt="docs">
                                    </div>
                                    <!--                                <p>{{img.name}}</p>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="incident_details" ng-show="true">
        <div class="incident_victims_details incident-victim-tabs">
            <div class="parentHorizontalTab">
                <ul class="tabs hor_1">
                    <li>Incidents</li>
                    <li>Vehicles</li>
                    <li>Locations</li>
                    <li>Linked Offenders</li>
                </ul>
                <div class="tab_container hor_1">

                    <div class="tab_content">
                        <div ng-if="(incidents.length <= 0 || !incidents)"> No linked Incidents </div>
                        <div class="o_d_t_wrap">
                            <div class="left" ng-repeat="incident in incidents">
                                <ul>
                                    <li><p><span>Reference:</span> <strong>{{incident.reference_no}}</strong></p></li>
                                    <li><p><span>Category:</span> <strong>{{incident.category}}</strong></p></li>
                                    <li><p><span>Outcome/Type:</span> <strong ng-if="incident.outcome != null">{{incident.outcome}}/{{incident.type}}</strong></p></li>
                                    <li><p><span>Date:</span> <strong>{{incident.date}}</strong></p></li>
                                    <li><p><span>Status:</span> <strong>{{incident.status}}</strong></p></li>	
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="tab_content">
                        No linked Vehicles
                    </div>

                    <div class="tab_content">
<!--                        No linked Locations-->
                    </div>

                    <div class="tab_content">
                        <div ng-if="(data.linked_offender.length <= 0 || !data.linked_offender)"> No linked Offenders </div>
                        <div class="vertical-scroll">
                            <div class="left-col1" ng-repeat="offender in data.linked_offender">
                                <div class="image-block">
                                    <img ng-src="{{offender.image}}" alt="thumb-img" /> 
                                </div>
                                <div class="content-block">
                                    <p><span>{{offender.status}}</span></p>
                                    <p>Incidents:&nbsp;{{offender.linked_incident}}</p>
                                    <p>Vehicles:&nbsp;{{offender.linked_vehicle}}</p>

                                </div>
                                <div class="title-name">
                                    <span>{{offender.fullName}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="incident_notes_wrap" ng-hide="!isCommAllowed && vechileData.has_task==0">
            <div class="parentHorizontalTab">
                <ul class="tabs hor_1">
                    <li ng-show="isCommAllowed">Notes &amp; Comms</li>
                    <li ng-show="vechileData.has_task==1">Tasks &amp; Checklists</li>
                    <span ng-show="isCommAllowed" class="comms" ng-click="showAddNotePopup();"></span>
                </ul>

                <div class="tab_container hor_1">
                    <div class="tab_content">
                        <div class="comms_notes_wrap">
                            <div ng-repeat="comm in commsNote">
                                <div class="notes_wrap" ng-class-even="'next_line'">
                                    <div class="notes_wrap_img">
                                        <img ng-src="{{staffImage}}" alt="news" /> <!--images/news_1.png-->
                                    </div>
                                    <div class="notes_wrap_content">
                                        <div class="notes_wrap_text">
                                            <h3>{{comm.note_title}}</h3> <!--Derek Gent at Nov 11, 2015 11:09--> 
                                            <p>{{comm.message}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab_content">
                        <div class="comms_notes_wrap">
                            <div class="AOC_ContentDiv">
                                <div class="AOC_Content o_d_t_wrap displayBLock">
                                    <ul>
                                        <li ng-repeat="task in taskAndCheckList">
                                            <div class="asignList" >
                                                <label class="msgstatus_icon"><span><img ng-src="{{task.image}}" alt="{{task.image}}"></span></label>
                                                <div class="asignDivContent">
                                                    <p class="text">{{task.task_refernce}}: {{task.content}}</p>
                                                    <p><span>Assigned to: {{task.assigned_to}}</span></p>
                                                    <p><span>Date Required: {{task.date}}</span></p>
                                                </div>
                                            </div> 
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>


    </div>
    <div ng-include="'views/addCommPopup.html'"></div> 
    <div class="sp_wrap" ng-show="isLargeImageView">

            <div class="slider_wrap">
                <div class="slider_content">

                    <div class="slider_img_wrap">
                        <div class="carousel-demo-fullscreen">

                            <ul rn-carousel rn-carousel-controls rn-carousel-buffered class="carousel1" rn-carousel-index="imageIndex">

                                <li id="tags-list" ng-model="imageIndex" ng-repeat="image in images track by $index">

                                    
                                        <div class="slider_head">
                                            <h2><span class="close_btn" ng-click="closeLargeImageView();"><i class="fa fa-times"></i></span></h2>
                                        </div>
                                        <h2><strong>Image:</strong> <span>(</span>{{image.imagename}} <span ng-if="image.updateddate != null">- {{image.updateddate}}</span> <span ng-if="image.owner != null">by {{image.owner}}</span><span>)</span></h2>
                                        <img ng-src="{{image.imageurl}}" alt="banner{{image.imagename}}"/> 
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>


</div>